<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Halaman Utama </title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="assets/styles/style-horizontal.min.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="assets/plugin/sweet-alert/sweetalert.css">

	<!-- Percent Circle -->
	<link rel="stylesheet" href="assets/plugin/percircle/css/percircle.css">

	<!-- Chartist Chart -->
	<link rel="stylesheet" href="assets/plugin/chart/chartist/chartist.min.css">

	<!-- FullCalendar -->
	<link rel="stylesheet" href="assets/plugin/fullcalendar/fullcalendar.min.css">
	<link rel="stylesheet" href="assets/plugin/fullcalendar/fullcalendar.print.css" media='print'>

	<!-- Color Picker -->
	<link rel="stylesheet" href="assets/color-switcher/color-switcher.min.css">
</head>

<body>
	<header class="fixed-header">
		<div class="header-top">
			<div class="container">
				<div class="pull-left">
					<a href="index.html" class="logo">Deteksi Titik Telapak Tangan</a>
				</div>
				<!-- /.pull-left -->
				<div class="pull-right">
					<div class="ico-item hidden-on-desktop">
						<button type="button"
							class="menu-button js__menu_button fa fa-bars waves-effect waves-light"></button>
					</div>
					<!-- /.ico-item hidden-on-desktop -->
				</div>
				<!-- /.pull-right -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.header-top -->
		<nav class="nav-horizontal">
			<button type="button" class="menu-close hidden-on-desktop js__close_menu"><i
					class="fa fa-times"></i><span>CLOSE</span></button>
			<div class="container">

				<ul class="menu">
					<li class="current">
						<a href="index.html"><i class="ico fa fa-home"></i><span>Dashboard</span></a>
					</li>

					<li>
						<a href="inbox.html"><i class="ico fa fa-envelope"></i><span>Mail</span></a>
					</li>

				</ul>
				<!-- /.menu -->
			</div>
			<!-- /.container -->
		</nav>
		<!-- /.nav-horizontal -->
	</header>
	<!-- /.fixed-header -->


	<div id="wrapper">
		<div class="main-content container">
			<div class="row small-spacing">
				<div class="col-xs-12">
					<div class="box-content card">
						<h4 class="box-title">Titik Telapak Tangan</h4>
						<div class="card-content" ">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
								version="1.1" width="100%" height="450px" viewBox="0 0 450 450" xml:space="preserve">
								<desc>Created with Fabric.js 5.2.4</desc>
								<defs>
								</defs>
								<rect x="0" y="0" width="100%" height="100%" fill="transparent"></rect>
								<g transform="matrix(1 0 0 1 225 225)" id="e6e83312-2ea4-41ad-82b7-d0c57350525f">
									<rect
										style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
										vector-effect="non-scaling-stroke" x="-225" y="-225" rx="0" ry="0" width="450"
										height="450" />
								</g>
								<g transform="matrix(0 0 0 0 0 0)" id="d5b7228b-ffb5-4c67-badf-22fbe00c5e85">
								</g>
								<g transform="matrix(0.67 0.58 -0.34 0.3 64.65 255.66)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.83 1.37 -0.43 0.19 128.5 337.66)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.87 0.32 -0.19 0.38 197.37 405.28)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.94 4.06 -0.48 0.08 192.42 240.44)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.65 -0.09 0.08 0.41 222.15 237.22)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.65 0.04 -0.03 0.42 274.05 236.31)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(-1.23 1.73 -0.41 -0.22 292.17 336.69)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.57 0.27 -0.24 0.37 320.7 250.22)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0 2.51 -0.48 0 239.35 128.36)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(-0.3 1.27 -0.47 -0.08 304.21 177.67)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0 0.82 -0.48 0 314.98 90.37)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(-0.8 0.87 -0.38 -0.26 371.46 227.95)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(-0.23 0.51 -0.45 -0.15 406.28 175.59)">
									<path
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(74,228,20); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" transform=" translate(-50, -50)"
										d="M 94.75 50 C 94.75 56.213 89.514 61.25 83.054 61.25 L 16.946 61.25 C 10.486 61.25 5.25 56.213 5.25 50 L 5.25 50 C 5.25 43.787 10.486 38.75 16.945999999999998 38.75 L 83.053 38.75 C 89.514 38.75 94.75 43.787 94.75 50 L 94.75 50 z"
										stroke-linecap="round" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 40.23 236.48)" onclick="get_data(4)">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 91.2 280.44)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								
								<g transform="matrix(0.36 0 0 0.31 122.94 330.63)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 154.68 384.96)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 229.68 414.41)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 194.1 240.67)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 237.87 232.8)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 286.42 237.36)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 337.41 258.53)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 177.76 183.03)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 163.84 131.63)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 152.3 73.99)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 236.93 30.87)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 239.81 99.71)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 237.9 156.12)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 312.43 56.59)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 315.32 123.37)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 306.18 177.7)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 416.77 152.81)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 400.43 192.63)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>
								<g transform="matrix(0.36 0 0 0.31 372.08 228.29)"
									id="2f124602-e284-442b-9e69-ee8a093a5586">
									<circle
										style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(228,0,0); fill-rule: nonzero; opacity: 1;"
										vector-effect="non-scaling-stroke" cx="0" cy="0" r="35" />
								</g>

							</svg>

						</div>
					</div>
					<!-- /.box-content -->
				</div>


			</div>
			<!-- /.row -->
			<footer class="footer">
				<ul class="list-inline">
					<li>2023 © Deteksi Titik Telapak Tangan.</li>

				</ul>
			</footer>
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
	<script src="assets/scripts/horizontal-menu.min.js"></script>
	<script>
		function get_data(id){
			console.log(id);
		}
	</script>
</body>

</html>